@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: Montserrat;
}
#inicio
{
    background-color: #B0E0E6;
    color: dodgerblue;
}
#retiroBtn
{
    background-color: forestgreen;
    color: white;
}               